doctype html
html
	head
		title ukjp - labs blog
		link(rel="cache" type="html" src="https://medium.com/ukjp-labs" async)
		link(rel="stylesheet" src="./index.css")
		script(src='./index.js')
	body(onload="redirect()")
		div() 
			p() for the moment im stuck with redirects.
