doctype html
html
	head
		title "ukjp - labs blog"
		link(rel="prefetch" type="html" src="https://medium.com/ukjp-labs")
		link(rel="stylesheet" src="./index.css")
	body
		iframe(src="https://medium.com/ukjp-labs" class="fullscreen")
